In [29]:
# Export the country club data from PHPMyAdmin, and connect to a local SQLite instance from Jupyter notebook 
# for the following questions.  
# QUESTIONS:
# /* Q10: Produce a list of facilities with a total revenue less than 1000.
# The output of facility name and total revenue, sorted by revenue. Remember
# that there's a different cost for guests and members! */
# select name, sum(case when memid = 0 then slots * guestcost else slots * membercost end) as revenue from Bookings left join Facilities using(facid) group by name having revenue < 1000;
# /* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */
# /* Q12: Find the facilities with their usage by member, but not guests */
# /* Q13: Find the facilities usage by month, but not guests */


import sqlite3
dbfile="sqlite_db_pythonsqlite.db"
con = sqlite3.connect(dbfile)
cursor = con.cursor()


sql10 =''' select name, sum(case when memid = 0 then slots * guestcost else slots * membercost end) as revenue 
from Bookings left join Facilities using(facid) 
group by name 
having revenue < 1000 order by revenue'''

sql11=''' SELECT x.firstname || ' ' || x.surname as member, y.firstname|| ' ' ||y.surname as recommender FROM Members as x left join Members as y on x.recommendedby=y.memid  WHERE x.memid > 0
order by x.surname, x.firstname'''


sql12='''SELECT facid, Name, (select sum(slots) from Bookings where Bookings.facid=Facilities.facid and Bookings.memid >0) as Mem_usage_slots  FROM Facilities WHERE facid in (select facid from Bookings where memid > 0)
'''

sql13='''SELECT b.months, sum( b.slots ) AS mem_slots_usage
FROM (
SELECT strftime('%m', starttime) AS months, slots
FROM Bookings
WHERE memid !=0
) AS b
GROUP BY b.months;
'''



#Executing the query
cursor.execute(sql13)

#Fetching 1st row from the table
result = cursor.fetchall();
print(result)

[('07', 1061), ('08', 2531), ('09', 3199)]